<section
  class="profile-edit-form grid justify-content-center align-items-center"
  #accountSettings
>
  <form class="text-center" (ngSubmit)="onSubmit()" [formGroup]="profileForm">
    <h2 class="mb-2">Edit Your Profile</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        class="form-input"
        type="text"
        id="username"
        name="username"
        formControlName="username"
      />
      <div
        *ngIf="
          profileForm.get('username')?.hasError('required') &&
          profileForm.get('username')?.touched
        "
        class="error-message"
      >
        Username is required.
      </div>
      <div
        *ngIf="
          profileForm.get('username')?.hasError('minlength') &&
          profileForm.get('username')?.touched
        "
        class="error-message"
      >
        Username must be at least 3 characters.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        class="form-input"
        type="email"
        id="email"
        name="email"
        formControlName="email"
      />
      <div
        *ngIf="
          profileForm.get('email')?.hasError('required') &&
          profileForm.get('email')?.touched
        "
        class="error-message"
      >
        Email is required.
      </div>
      <div
        *ngIf="
          profileForm.get('email')?.hasError('email') &&
          profileForm.get('email')?.touched
        "
        class="error-message"
      >
        Please enter a valid email address.
      </div>
    </div>

    <div class="form-group">
      <label for="password">New Password</label>
      <input
        class="form-input"
        type="password"
        id="password"
        name="password"
        formControlName="password"
      />
      <div
        *ngIf="
          profileForm.get('password')?.hasError('minlength') &&
          profileForm.get('password')?.touched
        "
        class="error-message"
      >
        Password must be at least 6 characters.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        class="form-input"
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        formControlName="confirmPassword"
      />
      <div
        *ngIf="
          profileForm.get('confirmPassword')?.hasError('passwordMismatch') &&
          profileForm.get('confirmPassword')?.touched
        "
        class="error-message"
      >
        Passwords do not match.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-about mb-2"
      [disabled]="!profileForm.valid"
    >
      Save Changes
    </button>

    <div *ngIf="changesSaved" class="success-message">
      Changes saved successfully.
    </div>
  </form>
</section>
